body {
  width: 100%;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  font-size: 2.5vh;
  overflow-x: hidden;
}

* {
  font-family: "Montserrat";
}

#title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.draggable {
  display: flex;
  justify-content: center;
  align-content: center;
  vertical-align: middle;
  cursor: pointer;
  flex: 1;
  flex-shrink: 1;
  width: auto;
  height: 2vh;
  padding: 1vh;
  background-color: white;
  margin: 0 1vh 1vh 0;
  font-size: 0.9em;
  border-radius: 0.5vh;
  border: 0.2vh solid #d9d9d9;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.ui-widget-header p,
.ui-widget-content p {
  margin: 0;
  white-space: nowrap;
}

p {
  animation-duration: 1s;
  color: black;
  font-weight: normal;
}

a {
  font-weight: 600;
  color: #ff2d44 !important;
}

h1 {
  color: #ff2d44 !important;
  font-size: 5vh;
  margin-top: 6vh;
  margin-bottom: 0;
  padding: 0;
  font-weight: 600;
}

.item_lista1 {
  margin-bottom: 4vh;
}

.material-icons.branco {
  color: white;
  align-self: center;
}

#snaptarget {
  height: 0;
  width: 0;
  border-top: none;
}

#listar_1 {
  display: flex;
  flex-direction: column;
}

#escolha_riscos {
  display: flex;
  opacity: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

h4 {
  text-transform: uppercase;
  letter-spacing: 0.1vh;
  font-style: normal;
  font-weight: 700;
  line-height: 1.43;
}

datalist {
  display: flex;
  justify-content: space-between;
}

#subtitulo1 {
  margin-bottom: 2vh;
}

.slider {
  width: 100%;
  height: 3vh;
  outline: none;
  background-color: #d9d9d9;
}

#riscos,
#riscos_mobile_lista {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 2vh;
  opacity: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#proximo {
  display: none;
  opacity: 0;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  background-color: #ff2d44;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 6vh;
  width: 100%;
  z-index: 999;
  animation-duration: 1s;
  animation-name: "prox_aparecer";
  animation-fill-mode: forwards;
}

#proximo > p {
  color: white;
  font-weight: 600;
  align-self: center;
}

@keyframes clicar_risco {
  from {
    background-color: #ffffff;
  }

  to {
    background-color: #ff2d44;
  }
}

@keyframes prox_aparecer {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes etapa1_desaparecer {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media (orientation: landscape) {
  #master {
    margin: 0 10vw;
  }

  #escolha_riscos {
    flex-direction: row;
  }

  #riscos {
    flex-flow: wrap;
    margin-left: 10vh;
  }

  #snaptarget {
    border-left: 20vh solid transparent;
    border-right: 20vh solid transparent;
    border-bottom: 40vh solid #d9d9d9;
  }
}

@media (orientation: portrait) {
  #master {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
  }

  #riscos_mobile_lista {
    margin-top: 5vh;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .draggable {
    height: 4vh;
  }

  #listar_1 {
    display: none;
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  #escolha_riscos {
    flex-direction: column;
  }

  #riscos {
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    height: 50vh;
  }

  #piramide {
    display: none;
    flex-direction: column;
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    align-content: center;
    justify-content: center;
  }

  #snaptarget {
    border-left: 35vw solid transparent;
    border-right: 35vw solid transparent;
    border-bottom: 35vh solid #d9d9d9;
    align-self: center;
  }
}
